<!-- Draws a heap with values from 0 to 9 -->
<script>
export let n = 5;
export let size = 3;
export let base_color_face="white";
export let base_color_dot="black";
export let bg_opacity=.9;
export let width = 160;
export let height = 160;
let radius = 18;

/**
 * Returns an array with `max` integers between 0 and 8
 * @param {integer} max the number of items that will have the array
 */
function generateDots(max) {
	const totalDots = Array.from(Array(size * size).keys());
	const dots = [];
	while (dots.length < max) {
		const index = parseInt(Math.random()*totalDots.length);
		dots.push(totalDots.splice(index, 1)[0]);
	}
	return dots;
}

</script>
<svg width={width} height={height} viewBox="0 0 150 150">
  <rect x={5/size * 3} y={5/size * 3} rx="20" ry="20" width="140" height="140" fill={base_color_face} fill-opacity={bg_opacity}/>
	{#each generateDots(n) as dot}
		<circle cx={32/size * 3 + 43/size * 3 *(dot%size)} cy={32/size * 3 + 43/size * 3*parseInt(dot/size)} r={radius/size * 3} fill={base_color_dot} />
	{/each}
</svg>
<style>
	rect{
 stroke:black;
stroke-width:5;
		opacity:.9;
	}
	circle{
stroke:black;
stroke-width:0;
		opacity:1;
	}
</style>